@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010101;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 800px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

.form_popup {
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form_popup .form_popup_box {
  width: 660px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  padding: 40px 20px;
}

@media (max-width: 800px) {
  .form_popup .form_popup_box {
    width: 90%;
    height: 300px;
  }
}

.form_popup .form_popup_box p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}

.form_popup .form_popup_box .popup_close {
  font-size: 42px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.form_popup .form_popup_box .popup_close .material-icons {
  font-size: 40px;
}

.form_popup .form_popup_box .popup_close:hover {
  cursor: pointer;
}

.form_popup.is_acted {
  opacity: 1;
  visibility: visible;
}

input, button, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  position: relative;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

#header {
  width: 100%;
  padding: 40px 60px;
  position: fixed;
  z-index: 100;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

#header h1 {
  width: 150px;
  float: left;
}

#header .nav {
  float: right;
}

#header .nav .menu {
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #000;
  cursor: pointer;
}

#header .nav .hamburger {
  width: 26px;
  height: 18px;
  position: relative;
  display: none;
}

#header .nav .hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}

#header .nav .hamburger .item1 {
  position: absolute;
  top: 0;
  -webkit-transition: top 0.4s 0.4s ,-webkit-transform 0.4s;
  transition: top 0.4s 0.4s ,-webkit-transform 0.4s;
  transition: transform 0.4s ,top 0.4s 0.4s;
  transition: transform 0.4s ,top 0.4s 0.4s ,-webkit-transform 0.4s;
}

#header .nav .hamburger .item2 {
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

#header .nav .hamburger .item3 {
  position: absolute;
  top: 100%;
  -webkit-transition: top 0.4s 0.4s ,-webkit-transform 0.4s;
  transition: top 0.4s 0.4s ,-webkit-transform 0.4s;
  transition: transform 0.4s ,top 0.4s 0.4s;
  transition: transform 0.4s ,top 0.4s 0.4s ,-webkit-transform 0.4s;
}

#header .topmenu-fixWrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: url(../img/theme_bg.jpg) top center repeat;
}

#header .topmenu-fixWrap .topmenu-fixList {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header .topmenu-fixWrap .topmenu-fixList > li {
  position: relative;
  text-align: center;
  padding: 24px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header .topmenu-fixWrap .topmenu-fixList > li .en {
  font-family: "Playfair Display",Arial,Helvetica,serif;
  font-size: 30px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  white-space: nowrap;
  margin-left: -30px;
}

#header .topmenu-fixWrap .topmenu-fixList > li .ch {
  font-family: "Noto Serif TC",serif;
  font-size: 25px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  -webkit-transition: all .6s .2s;
  transition: all .6s .2s;
}

#header .topmenu-fixWrap .topmenu-fixList > li .social {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

#header .topmenu-fixWrap .topmenu-fixList > li:hover .en {
  opacity: 1;
  margin-left: 0;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#header .topmenu-fixWrap .topmenu-fixList > li:hover .ch {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#header .topmenu-fixWrap .topmenu-fixList > li:hover .subMenuList {
  max-height: 78px;
  margin-top: 18px;
}

#header .topmenu-fixWrap .subMenuList {
  margin-top: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  max-height: 0;
}

#header .topmenu-fixWrap .subMenuList > li {
  text-align: center;
  position: relative;
  min-width: 180px;
  margin-bottom: 10px;
}

#header .topmenu-fixWrap .subMenuList > li:last-child {
  margin-bottom: 0;
}

#header .topmenu-fixWrap .subMenuList > li:hover a:before {
  width: 20px;
}

#header .topmenu-fixWrap .subMenuList > li:hover .sub-en {
  opacity: 1;
  margin-left: 0;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#header .topmenu-fixWrap .subMenuList > li:hover .sub-ch {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#header .topmenu-fixWrap .subMenuList > li a {
  position: relative;
}

#header .topmenu-fixWrap .subMenuList > li a:before {
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header .topmenu-fixWrap .subMenuList > li .sub-en {
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 17px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -10px;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#header .topmenu-fixWrap .subMenuList > li .sub-ch {
  font-family: "Noto Serif TC",serif;
  font-size: 17px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-transition: all .6s .2s;
  transition: all .6s .2s;
  display: inline-block;
}

#header .topmenu-fixWrap .close {
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 60px;
}

footer {
  background: url(../img/theme_bg.jpg) center top repeat;
  padding: 120px 0 140px;
}

footer .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  footer .container {
    width: 90%;
  }
}

footer .logobox {
  overflow: hidden;
}

@media (max-width: 600px) {
  footer .logobox .logo {
    width: 100%;
    height: 66px;
  }
}

footer .logobox img {
  width: 190px;
  float: left;
}

footer .logobox hr {
  width: calc(100% - 316px);
  display: block;
  float: left;
  margin: 14px 32px;
}

@media (max-width: 600px) {
  footer .logobox hr {
    display: none;
  }
}

footer .logobox .social {
  width: 26px;
  float: left;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

footer .logobox .social:last-child {
  margin-right: 0;
}

footer .logobox .social img {
  width: 100%;
}

footer .infobox {
  margin-top: 30px;
}

footer .infobox .item {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  letter-spacing: 1px;
}

footer .infobox .item span {
  display: inline-block;
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 20px;
  line-height: 1.4;
  color: #00404b;
  background-color: #fff;
  padding: 0 2px;
  margin-right: 6px;
  vertical-align: middle;
}

footer .infobox .item a {
  font-size: 16px;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: -4px;
}

footer .copyright {
  font-size: 12px;
  color: #fff;
  margin-top: 16px;
}

footer .copyright a {
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

#header {
  background-image: none;
}

#header h1 .white {
  display: none;
}

#header h1 .black {
  display: block;
}

#header .nav .menu {
  color: #000;
}

.contactus_title .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1480px) {
  .contactus_title .container {
    width: 90%;
  }
}

.contactus_title h3 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 1.6;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 160px 0 40px;
}

.contactus_form {
  margin-bottom: 200px;
}

.contactus_form .container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1480px) {
  .contactus_form .container {
    width: 90%;
  }
}

.contactus_form .item {
  width: calc((100% - 100px) / 2);
  float: left;
  margin-right: 100px;
  margin-top: 36px;
  position: relative;
}

@media (max-width: 800px) {
  .contactus_form .item {
    width: 100%;
    margin-right: 0;
  }
}

.contactus_form .item.message {
  width: 100%;
  margin-top: 100px;
}

.contactus_form .item:nth-child(even) {
  margin-right: 0;
}

.contactus_form .item label {
  display: none;
}

.contactus_form .item ::-webkit-input-placeholder {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactus_form .item :-ms-input-placeholder {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactus_form .item ::-ms-input-placeholder {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactus_form .item ::placeholder {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactus_form .item select, .contactus_form .item input[type="text"], .contactus_form .item textarea {
  width: 100%;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  border-bottom: 1px solid #000;
}

.contactus_form .item textarea {
  height: 140px;
  resize: none;
}

.contactus_form .item .code {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.contactus_form .hint {
  width: 100%;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  overflow: hidden;
}

.contactus_form .hint .required {
  width: 260px;
  float: left;
  text-align: left;
}

.contactus_form .hint .info {
  width: calc(100% - 260px);
  float: right;
  text-align: right;
}

.contactus_form .hint .info a {
  color: #c9a063;
  display: inline-block;
  margin-left: 10px;
  text-decoration: underline;
}

.contactus_form button.submit {
  width: calc((100% - 100px) / 2);
  background-color: #7d7e7e;
  color: #fff;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2px;
  margin-top: 54px;
}

@media (max-width: 800px) {
  .contactus_form button.submit {
    width: 100%;
  }
}

.contactus_form button.submit:hover {
  cursor: pointer;
}
/*# sourceMappingURL=contactus.css.map */