@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010101;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 800px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

.form_popup {
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form_popup .form_popup_box {
  width: 660px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  padding: 40px 20px;
}

@media (max-width: 800px) {
  .form_popup .form_popup_box {
    width: 90%;
    height: 300px;
  }
}

.form_popup .form_popup_box p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}

.form_popup .form_popup_box .popup_close {
  font-size: 42px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.form_popup .form_popup_box .popup_close .material-icons {
  font-size: 40px;
}

.form_popup .form_popup_box .popup_close:hover {
  cursor: pointer;
}

.form_popup.is_acted {
  opacity: 1;
  visibility: visible;
}

input, button, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  position: relative;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.grid-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.grid-x > .auto {
  width: auto;
}

.grid-x > .shrink {
  width: auto;
}

.cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
}

.cell .auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}

.cell .shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-spaced {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-left.vertical.menu > li > a {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-right.vertical.menu > li > a {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center.vertical.menu > li > a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

#header h1 {
  width: 150px;
  position: fixed;
  top: 26px;
  left: 5%;
}

#header .menu-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
}

#header .menu-overlay .block {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #101010;
  left: 0;
  background: url(../img/theme_bg.jpg) top center repeat;
}

#header .topmenu-fixWrap {
  height: 90px;
}

#header .topmenu-fixWrap .topmenu-fixList {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

#header .topmenu-fixWrap .topmenu-fixList li {
  padding: 12px 0;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  opacity: 1;
}

#header .topmenu-fixWrap .topmenu-fixList li .en {
  font-family: "Playfair Display",Arial,Helvetica,serif;
  font-size: 30px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  white-space: nowrap;
  margin-left: -30px;
  text-align: center;
}

#header .topmenu-fixWrap .topmenu-fixList li .ch {
  font-family: "Noto Serif TC",serif;
  font-size: 25px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  -webkit-transition: all .6s .2s;
  transition: all .6s .2s;
}

#header .topmenu-fixWrap .topmenu-fixList li .social {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

#header .topmenu-fixWrap .topmenu-fixList li:hover .en {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  margin-left: 0;
  color: #c9a063;
}

#header .topmenu-fixWrap .topmenu-fixList li:hover .ch {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#header .menu-btn {
  position: fixed;
  right: 5%;
  top: 0;
  margin: 1.2em 0;
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #000;
  cursor: pointer;
}

#header .menu-btn .open {
  color: #000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#header .menu-btn .close {
  color: #fff;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

footer {
  background: url(../img/theme_bg.jpg) center top repeat;
  padding: 120px 0 140px;
}

footer .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  footer .container {
    width: 90%;
  }
}

footer .logobox {
  overflow: hidden;
}

@media (max-width: 600px) {
  footer .logobox .logo {
    width: 100%;
    height: 66px;
  }
}

footer .logobox img {
  width: 190px;
  float: left;
}

footer .logobox hr {
  width: calc(100% - 316px);
  display: block;
  float: left;
  margin: 14px 32px;
}

@media (max-width: 600px) {
  footer .logobox hr {
    display: none;
  }
}

footer .logobox .social {
  width: 26px;
  float: left;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

footer .logobox .social:last-child {
  margin-right: 0;
}

footer .logobox .social img {
  width: 100%;
}

footer .infobox {
  margin-top: 30px;
}

footer .infobox .item {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  letter-spacing: 1px;
}

footer .infobox .item span {
  display: inline-block;
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 20px;
  line-height: 1.4;
  color: #00404b;
  background-color: #fff;
  padding: 0 2px;
  margin-right: 6px;
  vertical-align: middle;
}

footer .infobox .item a {
  font-size: 16px;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: -4px;
}

footer .infobox .item .social {
  width: 22px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

footer .copyright {
  font-size: 12px;
  color: #fff;
  margin-top: 16px;
}

footer .copyright a {
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

#header {
  background-image: none;
}

#header h1 .white {
  display: none;
}

#header h1 .black {
  display: block;
}

#header .nav .menu {
  color: #000;
}

section {
  background-color: #fff;
}

.news_title .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .news_title .container {
    width: 90%;
  }
}

.news_title h3 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 1.6;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 160px 0;
}

.news_filter .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .news_filter .container {
    width: 90%;
  }
}

.news_filter ul {
  overflow: hidden;
}

.news_filter ul li {
  width: 33.3333%;
  float: left;
  position: relative;
}

.news_filter ul li:after {
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  right: 0;
  top: 10%;
  background: #c49e6b;
}

.news_filter ul li:last-child:after {
  display: none;
}

.news_filter ul li:hover {
  cursor: pointer;
}

.news_filter ul li h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  font-weight: 500;
  color: #7d7e7e;
  text-align: center;
  letter-spacing: 6px;
}

.news_filter ul li h4 span {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.news_filter ul li.active h4 {
  color: #c49e6b;
}

.news_filter ul li.active h4 span {
  color: #c49e6b;
}

.news_content {
  margin-top: 160px;
  margin-bottom: 120px;
  position: relative;
}

.news_content .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .news_content .container {
    width: 90%;
  }
}

.news_content ul.news_content_slick {
  padding-bottom: 100px;
  overflow: hidden;
}

.news_content ul.news_content_slick li .news_list {
  overflow: hidden;
  margin-bottom: 120px;
}

.news_content ul.news_content_slick li .news_list a {
  display: block;
}

.news_content ul.news_content_slick li .news_list a .photo {
  width: 450px;
  height: 272px;
  float: left;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1080px) {
  .news_content ul.news_content_slick li .news_list a .photo {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
  }
}

.news_content ul.news_content_slick li .news_list a .photo:before {
  content: '+ more';
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  width: 100px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.news_content ul.news_content_slick li .news_list a .photo:after {
  content: "";
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

.news_content ul.news_content_slick li .news_list a .photo img {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.news_content ul.news_content_slick li .news_list a .info {
  width: calc(100% - 500px);
  float: right;
  overflow: hidden;
  letter-spacing: 3px;
}

@media (max-width: 1080px) {
  .news_content ul.news_content_slick li .news_list a .info {
    width: 100%;
    margin-top: 40px;
  }
}

.news_content ul.news_content_slick li .news_list a .info .date {
  width: 200px;
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  font-weight: 500;
  float: left;
}

.news_content ul.news_content_slick li .news_list a .info .media {
  width: calc(100% - 200px);
  float: right;
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  text-align: right;
}

.news_content ul.news_content_slick li .news_list a .info h4 {
  width: 100%;
  float: left;
  font-family: 'Noto Serif TC', serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 30px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.news_content ul.news_content_slick li .news_list a .info p {
  width: 100%;
  float: left;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media (max-width: 1080px) {
  .news_content ul.news_content_slick li .news_list a .info p {
    display: none;
  }
}

.news_content ul.news_content_slick li .news_list a .info .more {
  width: 100%;
  float: left;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  margin-top: 40px;
  color: #7d7e7e;
  text-transform: uppercase;
}

@media (max-width: 1080px) {
  .news_content ul.news_content_slick li .news_list a .info .more {
    margin-top: 0px;
  }
}

.news_content ul.news_content_slick li .news_list a .info .more i {
  font-size: 12px;
  vertical-align: top;
  margin-right: 8px;
  color: #7d7e7e;
}

.news_content ul.news_content_slick li .news_list a:hover {
  cursor: pointer;
}

.news_content ul.news_content_slick li .news_list a:hover .photo:before {
  opacity: 1;
  visibility: visible;
}

.news_content ul.news_content_slick li .news_list a:hover .photo:after {
  opacity: 1;
  visibility: visible;
}

.news_content ul.news_content_slick .slick-prev, .news_content ul.news_content_slick .slick-next {
  width: 61px;
  height: 37px;
  top: auto;
  bottom: 0;
  left: auto;
}

.news_content ul.news_content_slick .slick-prev {
  right: 80px;
  background: url(../img/news_slick-prev.svg) center top no-repeat;
  background-size: contain;
}

.news_content ul.news_content_slick .slick-prev:before {
  content: "";
  opacity: 1;
}

.news_content ul.news_content_slick .slick-next {
  right: 0;
  background: url(../img/news_slick-next.svg) center top no-repeat;
  background-size: contain;
}

.news_content ul.news_content_slick .slick-next:before {
  content: "";
  opacity: 1;
}

.news_content ul.news_content_slick .slick-disabled {
  opacity: .3;
}

.news_content .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.news_content .select {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -500px;
  font-size: 22px;
  color: #fff;
  width: 140px;
  height: 40px;
}

@media (max-width: 1080px) {
  .news_content .select {
    left: 5%;
    margin-left: 0;
  }
}

.news_content .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: 'Noto Serif TC', serif;
  color: #c09b69;
}

.news_content .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.news_content .select-styled:active:after, .news_content .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #000 transparent;
}

.news_content .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f4f5f6;
}

.news_content .select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-family: 'Noto Serif TC', serif;
}

.news_content .select-options li.is-selected {
  color: #000;
  background: #f4f5f6;
}

.news_content .select-options li:hover {
  color: #000;
  background: #fff;
}

.news_content .select-options li[rel="hide"] {
  display: none;
}

.newspage_title .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .newspage_title .container {
    width: 90%;
  }
}

.newspage_title h3 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 1.6;
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 160px 0 80px;
}

.newspage_title h3 span {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  display: block;
  letter-spacing: 2px;
}

.newspage_content {
  margin-top: 80px;
  margin-bottom: 120px;
}

.newspage_content .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .newspage_content .container {
    width: 90%;
  }
}

.newspage_content .photo {
  margin: 20px 0;
}

.newspage_content .photo span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #7d7e7e;
  letter-spacing: 3px;
  margin: 20px 0;
}

.newspage_content .video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 20px 0;
}

.newspage_content .video iframe {
  width: 100%;
  height: 560px;
}

.newspage_content .date {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 2px;
}

.newspage_content .media {
  color: #7d7e7e;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2px;
}

.newspage_content h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 30px 0;
  letter-spacing: 4px;
}

.newspage_content h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin: 80px 0 30px;
  letter-spacing: 4px;
}

.newspage_content p {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  letter-spacing: 3px;
}

.newspage_content .source {
  margin: 60px 0 100px;
}

.newspage_content .source a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
}

.newspage_content .backnews {
  width: 60px;
}

.newspage_content ul.news_content_slick {
  padding-bottom: 100px;
  position: relative;
}

.newspage_content ul.news_content_slick li {
  overflow: hidden;
  margin-bottom: 120px;
}

.newspage_content ul.news_content_slick li .info {
  width: calc(500/1000*100%);
  float: right;
  overflow: hidden;
  letter-spacing: 3px;
}

.newspage_content ul.news_content_slick li .info a {
  width: 100%;
  float: left;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  margin-top: 60px;
  color: #7d7e7e;
  text-transform: uppercase;
}

.newspage_content ul.news_content_slick li .info a i {
  font-size: 12px;
  vertical-align: top;
  margin-right: 8px;
  color: #7d7e7e;
}

.newspage_content ul.news_content_slick li:hover {
  cursor: pointer;
}

.newspage_content ul.news_content_slick li:hover .photo:before {
  opacity: 1;
  visibility: visible;
}

.newspage_content ul.news_content_slick li:hover .photo:after {
  opacity: 1;
  visibility: visible;
}

.newspage_content ul.news_content_slick .slick-prev, .newspage_content ul.news_content_slick .slick-next {
  width: 61px;
  height: 37px;
  top: auto;
  bottom: 0;
  left: auto;
}

.newspage_content ul.news_content_slick .slick-prev {
  right: 80px;
  background: url(../img/news_slick-prev.svg) center top no-repeat;
  background-size: contain;
}

.newspage_content ul.news_content_slick .slick-prev:before {
  content: "";
  opacity: 1;
}

.newspage_content ul.news_content_slick .slick-next {
  right: 0;
  background: url(../img/news_slick-next.svg) center top no-repeat;
  background-size: contain;
}

.newspage_content ul.news_content_slick .slick-next:before {
  content: "";
  opacity: 1;
}

.newspage_content ul.news_content_slick ul.slick-dots {
  width: 140px;
  bottom: auto;
  top: 96%;
  left: 0;
  text-align: left;
  z-index: 10;
}

.newspage_content ul.news_content_slick ul.slick-dots li {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 0;
  display: none;
}

.newspage_content ul.news_content_slick ul.slick-dots li a {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1.4;
}

.newspage_content ul.news_content_slick ul.slick-dots li.slick-active {
  display: block;
}

.newspage_content ul.news_content_slick ul.slick-dots li.slick-active a {
  color: #c49e6b;
}

.newspage_content ul.news_content_slick ul.slick-dots:after {
  content: '\e5cf';
  font-family: 'Material Icons';
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 4px;
}

.newspage_content ul.news_content_slick ul.slick-dots:after i {
  display: block;
}

.newspage_content ul.news_content_slick ul.slick-dots:after:hover {
  cursor: pointer;
}
/*# sourceMappingURL=news.css.map */