@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;500&family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010101;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 800px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

.form_popup {
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form_popup .form_popup_box {
  width: 660px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  padding: 40px 20px;
}

@media (max-width: 800px) {
  .form_popup .form_popup_box {
    width: 90%;
    height: 300px;
  }
}

.form_popup .form_popup_box p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}

.form_popup .form_popup_box .popup_close {
  font-size: 42px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.form_popup .form_popup_box .popup_close .material-icons {
  font-size: 40px;
}

.form_popup .form_popup_box .popup_close:hover {
  cursor: pointer;
}

.form_popup.is_acted {
  opacity: 1;
  visibility: visible;
}

input, button, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  position: relative;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.grid-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.grid-x > .auto {
  width: auto;
}

.grid-x > .shrink {
  width: auto;
}

.cell {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%;
}

.cell .auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}

.cell .shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-spaced {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-left.vertical.menu > li > a {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-right.vertical.menu > li > a {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center.vertical.menu > li > a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

#header h1 {
  width: 150px;
  position: fixed;
  top: 26px;
  left: 5%;
}

#header .menu-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
}

#header .menu-overlay .block {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #101010;
  left: 0;
  background: url(../img/theme_bg.jpg) top center repeat;
}

#header .topmenu-fixWrap {
  height: 90px;
}

#header .topmenu-fixWrap .topmenu-fixList {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

#header .topmenu-fixWrap .topmenu-fixList li {
  padding: 20px 0;
  color: #fff;
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
  opacity: 1;
}

#header .topmenu-fixWrap .topmenu-fixList li .en {
  font-family: "Playfair Display",Arial,Helvetica,serif;
  font-size: 30px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  white-space: nowrap;
  margin-left: -30px;
  text-align: center;
}

#header .topmenu-fixWrap .topmenu-fixList li .ch {
  font-family: "Noto Serif TC",serif;
  font-size: 25px;
  letter-spacing: 6px;
  color: #dfdfdf;
  display: inline-block;
  -webkit-transition: all .6s .2s;
  transition: all .6s .2s;
}

#header .topmenu-fixWrap .topmenu-fixList li .social {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

#header .topmenu-fixWrap .topmenu-fixList li:hover .en {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  margin-left: 0;
  color: #c9a063;
}

#header .topmenu-fixWrap .topmenu-fixList li:hover .ch {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#header .menu-btn {
  position: fixed;
  right: 5%;
  top: 0;
  margin: 1.2em 0;
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #000;
  cursor: pointer;
}

#header .menu-btn .open {
  color: #000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#header .menu-btn .close {
  color: #fff;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

footer {
  background: url(../img/theme_bg.jpg) center top repeat;
  padding: 120px 0 140px;
}

footer .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  footer .container {
    width: 90%;
  }
}

footer .logobox {
  overflow: hidden;
}

@media (max-width: 600px) {
  footer .logobox .logo {
    width: 100%;
    height: 66px;
  }
}

footer .logobox img {
  width: 190px;
  float: left;
}

footer .logobox hr {
  width: calc(100% - 316px);
  display: block;
  float: left;
  margin: 14px 32px;
}

@media (max-width: 600px) {
  footer .logobox hr {
    display: none;
  }
}

footer .logobox .social {
  width: 26px;
  float: left;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

footer .logobox .social:last-child {
  margin-right: 0;
}

footer .logobox .social img {
  width: 100%;
}

footer .infobox {
  margin-top: 30px;
}

footer .infobox .item {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  letter-spacing: 1px;
}

footer .infobox .item span {
  display: inline-block;
  font-family: 'Playfair Display','Noto Serif TC', serif;
  font-size: 20px;
  line-height: 1.4;
  color: #00404b;
  background-color: #fff;
  padding: 0 2px;
  margin-right: 6px;
  vertical-align: middle;
}

footer .infobox .item a {
  font-size: 16px;
  font-family: 'Noto Serif TC', serif;
  color: #fff;
  display: inline-block;
  margin-right: -4px;
}

footer .infobox .item .social {
  width: 22px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

footer .copyright {
  font-size: 12px;
  color: #fff;
  margin-top: 16px;
}

footer .copyright a {
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

#header {
  background-image: none;
  z-index: 2;
}

#header h1 .white {
  display: none;
}

#header h1 .black {
  display: block;
}

#header .nav .menu {
  color: #000;
}

#header.inner_hd {
  background-image: none;
}

#header.inner_hd h1 .white {
  display: block;
}

#header.inner_hd h1 .black {
  display: none;
}

#header.inner_hd .menu-btn div {
  color: #fff;
}

.project_title .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .project_title .container {
    width: 90%;
  }
}

.project_title h3 {
  margin: 160px 0;
}

.project_title h3 span {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 1.6;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.project_list .container {
  max-width: 1000px;
  margin: 0 auto;
}

.project_list ul {
  overflow: hidden;
}

.project_list ul li {
  width: 33.3333%;
  float: left;
  position: relative;
  margin-bottom: 120px;
}

@media (max-width: 800px) {
  .project_list ul li {
    width: 50%;
  }
}

.project_list ul li h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 26px;
  line-height: 2;
  font-weight: 500;
  color: #000;
  text-align: center;
  letter-spacing: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project_list ul li h5 {
  font-size: 16px;
  font-weight: 200;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project_list ul li h6 {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project_list ul li:hover {
  cursor: pointer;
}

.project_list ul li:hover h4, .project_list ul li:hover h5, .project_list ul li:hover h6 {
  color: #c49e6b;
  letter-spacing: 10px;
}

.project_list ul li.active h4, .project_list ul li.active h5, .project_list ul li.active h6 {
  color: #c49e6b;
  letter-spacing: 10px;
}

.projectpage_photo {
  position: relative;
}

.projectpage_photo .projectpage_popup {
  display: none;
}

.projectpage_photo .projectpage_popup.active {
  display: block;
}

.projectpage_photo .projectpage_popup .mask {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail {
  width: 100%;
  max-width: 1000px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 140px;
  z-index: 5;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 1080px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail {
    top: 10%;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 120px;
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
  letter-spacing: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li h4 {
    font-size: 24px;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li h5 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li h5 {
    font-size: 16px;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li h6 {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  line-height: 3;
  font-weight: 600;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li h6 {
    font-size: 16px;
    line-height: 2;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 36px;
  text-align: justify;
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li p {
    font-size: 13px;
    margin-top: 20px;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo {
  margin-top: 60px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo {
    margin-top: 20px;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
  width: 50%;
  float: left;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.projectpage_photo .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li span {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.projectpage_photo ul#fullpage {
  background: #000;
}

.projectpage_photo ul#fullpage li {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup {
  display: block;
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup .mask {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail {
  width: 100%;
  max-width: 1000px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 140px;
  z-index: 5;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 1080px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail {
    top: 10%;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 120px;
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
  letter-spacing: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h4 {
    font-size: 24px;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h5 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h5 {
    font-size: 16px;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h6 {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  line-height: 3;
  font-weight: 600;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li h6 {
    font-size: 16px;
    line-height: 2;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 36px;
  text-align: justify;
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li p {
    font-size: 13px;
    margin-top: 20px;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo {
  margin-top: 60px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo {
    margin-top: 20px;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
  width: 50%;
  float: left;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.projectpage_photo ul#fullpage li:nth-child(2).active .projectpage_popup ol.projectpage_content_detail li ol.projectinfo li span {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.projectpage_photo .fullpage_scrollbar {
  width: 1px;
  height: 80vh;
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 50px;
}

@media (max-width: 600px) {
  .projectpage_photo .fullpage_scrollbar {
    height: 60vh;
    right: 20px;
  }
}

.projectpage_photo .fullpage_scrollbar .topline {
  width: 1px;
  height: 60%;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.projectpage_photo .fullpage_scrollbar .bgline {
  width: 1px;
  height: 100%;
  background: #000;
}

.projectpage_content {
  width: 80%;
  position: absolute;
  z-index: 9;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projectpage_content .container {
  width: 100%;
  max-width: 1000px;
  height: 50px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .projectpage_content .container {
    width: 90%;
  }
}

.projectpage_content .backproject {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  line-height: 2;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1280px) {
  .projectpage_content .backproject {
    left: 120px;
  }
}

@media (max-width: 800px) {
  .projectpage_content .backproject {
    left: 0px;
  }
}

.projectpage_content .backproject a {
  color: #fff;
  text-align: left;
  display: block;
  padding-left: 100px;
}

@media (max-width: 800px) {
  .projectpage_content .backproject a {
    padding-left: 0;
  }
}

.projectpage_content .backproject a span {
  color: #fff;
}

@media (max-width: 640px) {
  .projectpage_content .backproject a span {
    display: none;
  }
}

.projectpage_content .backproject a img {
  width: 60px;
  position: absolute;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 640px) {
  .projectpage_content .backproject a img {
    position: relative;
    left: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
}

.projectpage_content .backproject:hover {
  margin-left: -10px;
}

.projectpage_content .backproject:hover img {
  left: -100px;
}

@media (max-width: 640px) {
  .projectpage_content .backproject:hover img {
    left: auto;
  }
}

.projectpage_content .closedetail {
  position: absolute;
  right: 100px;
  bottom: 0;
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  line-height: 2;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1280px) {
  .projectpage_content .closedetail {
    right: 140px;
  }
}

@media (max-width: 800px) {
  .projectpage_content .closedetail {
    right: 20px;
    bottom: -10px;
  }
}

.projectpage_content .closedetail a {
  color: #fff;
  text-align: right;
  display: block;
  padding-right: 50px;
}

.projectpage_content .closedetail a span {
  color: #fff;
}

@media (max-width: 640px) {
  .projectpage_content .closedetail a span {
    display: none;
  }
}

.projectpage_content .closedetail a img {
  width: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 640px) {
  .projectpage_content .closedetail a img {
    position: relative;
    right: auto;
    top: auto;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin: 10px auto 0;
  }
}

.projectpage_content .closedetail:hover {
  margin-right: -10px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.projectpage_content .closedetail:hover a img {
  right: -10px;
  -webkit-transform: translateY(-10px) rotate(0deg);
          transform: translateY(-10px) rotate(0deg);
}

@media (max-width: 640px) {
  .projectpage_content .closedetail:hover a img {
    right: auto;
  }
}

.projectpage_content .closedetail.active a img {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

@media (max-width: 640px) {
  .projectpage_content .closedetail.active a img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.projectpage_content .slideContent {
  width: 60px;
  position: fixed;
  z-index: 10;
  position: absolute;
  right: 0%;
  bottom: 14px;
  text-align: right;
}

@media (max-width: 1280px) {
  .projectpage_content .slideContent {
    right: 20px;
  }
}

@media (max-width: 800px) {
  .projectpage_content .slideContent {
    right: 0;
    bottom: 6px;
  }
}

.projectpage_content .slideContent .num {
  color: #fff;
  font-size: 22px;
  letter-spacing: 5px;
  font-family: 'Noto Serif TC', serif;
}

.fullpage-wrapper {
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.fullpage-wrapper .fp-section {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.fullpage-wrapper .fp-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.fullpage-wrapper .fp-section .fp-slidesContainer {
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

#fp-nav ul li, #fp-nav ul li:hover, .fp-slidesNav ul li, .fp-slidesNav ul li:hover {
  display: block;
  width: 1px;
  height: 40px;
  margin: 0;
  position: relative;
}

#fp-nav ul li a, #fp-nav ul li:hover a, .fp-slidesNav ul li a, .fp-slidesNav ul li:hover a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a span, #fp-nav ul li:hover a span, .fp-slidesNav ul li a span, .fp-slidesNav ul li:hover a span {
  top: 0;
  left: 0;
  width: 1px;
  height: 48px;
  border: none;
  background: #000;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  margin-left: -2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  top: 0;
  left: 0;
  width: 1px;
  height: 48px;
  border: none;
  background: #fff;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  margin-left: -2px;
}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  background: #fff;
}

#fp-nav {
  right: 50px !important;
  height: 80%;
  top: 20%;
  -webkit-transform: none;
          transform: none;
  display: none;
}

#fp-nav ul {
  height: 100%;
}

#fp-nav ul li {
  height: calc(100% / 6);
}

#fp-nav ul li a span {
  height: 100%;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 100%;
}
/*# sourceMappingURL=project.css.map */