footer{
    background: #a6936a;
    text-align: center;
    position: relative;
    .footer_logo{
        padding: 60px 0;
        @media (max-width:960px){
            padding: 12% 0 8%;
        }
        img{
            width: 240px;
            margin: 0 auto;
            @media (max-width:960px){
                width: 25%;
            }
        }
        p{
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            margin-top: 24px;
            letter-spacing: 2px;
            @media (max-width:960px){
                font-size: 36px;
            }
            @media (max-width:600px){
                font-size: 18px;
            }
        }
    }
    .footer_menu{
        font-size: 20px;
        line-height: 1;
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
        padding-left: 0;
        @media (max-width:960px){
            font-size: 24px;
            margin-bottom: 5%;
        }
        @media (max-width:600px){
            font-size: 16px;
        }
        li{
            display: inline-block;
            padding: 0 18px;
            border-right: 1px solid #fff;
            @media (max-width:960px){
                padding: 0 6px;
            }
            &:last-child{
                border-right: 0;
            }
            a{
                color: #fff;
                letter-spacing: 4px;
                opacity: 1;
                transition: all .3s;
            }
            &:hover{
                a{
                    opacity: .7;
                }
            }
        }
    }
    .copyright{
        width: 80%;
        line-height: 50px;
        margin: 0 auto;
        padding-bottom: 25px;
        font-size: 14px;
        text-align: left;
        color: #fff;
        border-top: 1px solid #fff;
        font-family: 'Noto Sans TC', sans-serif;
        letter-spacing: 1px;
        position: relative;
        @media (max-width:960px){
            width: 94%;
            font-size: 2vw;
            line-height: 1.4;
            padding: 5% 0;
            margin-top: 10%;
        }
        .gotop{
            width: 180px;
            font-size: 18px;
            color: #fff;
            position: absolute;
            right: 0;
            top: -26px;
            padding: 0 20px;
            background-color: #a6936a;
            @media (max-width:960px){
                width: 230px;
                font-size: 24px;
            }
            @media (max-width:600px){
                width: 140px;
                font-size: 13px;
                top: -10px;
                padding: 0 10px;
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                display: inline-block;
                border-style: solid;
                border-width: 0 7px 14px 7px;
                border-color: transparent transparent #fff transparent;
                opacity: 1;
                margin-left: 5px;
                @media (max-width:600px){
                    border-width: 0 5px 10px 5px;
                }
            }
            &:hover{
                cursor: pointer;
                &:after{
                    animation: gotop 1s alternate infinite linear;
                }
            }
        }
    }
}
