#header {
    width: 100%;
    padding: 40px 60px;
    position: fixed;
    z-index:100;
    top: 0;
    transition: all 1s;
    opacity:1;
    
    h1{
        width: 150px;
        float: left;
    }

    .nav{
        float: right;

        .menu{
            font-family: 'Playfair Display','Noto Serif TC', serif;
            font-size:25px;
            letter-spacing:5px;
            color:#000;
            cursor:pointer;
        }
        .hamburger{
            width:26px;
            height:18px;
            position:relative;
            display: none;

            span{
                display:block;
                width:100%;
                height:2px;
                background-color:#000;
            }
            .item1{
                position:absolute;
                top:0;
                -webkit-transition:top 0.4s 0.4s ,-webkit-transform 0.4s;
                transition:top 0.4s 0.4s ,-webkit-transform 0.4s;
                transition:transform 0.4s ,top 0.4s 0.4s;
                transition:transform 0.4s ,top 0.4s 0.4s ,-webkit-transform 0.4s;
            }
            .item2{
                position:absolute;
                top:50%;
                -webkit-transition:opacity 0.8s;
                transition:opacity 0.8s;
            }
            .item3{
                position:absolute;
                top:100%;
                -webkit-transition:top 0.4s 0.4s ,-webkit-transform 0.4s;
                transition:top 0.4s 0.4s ,-webkit-transform 0.4s;
                transition:transform 0.4s ,top 0.4s 0.4s;
                transition:transform 0.4s ,top 0.4s 0.4s ,-webkit-transform 0.4s;
            }
        }
    }

    .topmenu-fixWrap{
        // display:none;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:99;
        background-color:#000;

        .topmenu-fixList{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);

            &>li{
                // opacity:0;
                // transform:translateX(-100px);
                position:relative;
                text-align:center;
                padding:24px 0;
                transition: all .3s;
    
                .en{
                    font-family:"Playfair Display",Arial,Helvetica,serif;
                    font-size:30px;
                    letter-spacing:6px;
                    color:#dfdfdf;
                    display:inline-block;
                    position:absolute;
                    top:21px;
                    left:50%;
                    transform:translateX(-50%);
                    opacity:0;
                    transition:all .6s;
                    white-space:nowrap;
                    margin-left:-30px;
                }
                .ch{
                    font-family:"Noto Serif TC",serif;
                    font-size:25px;
                    letter-spacing:6px;
                    color:#dfdfdf;
                    display:inline-block;
                    transition:all .6s .2s;
                }

                .social{
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    text-align: center;
                    margin: 0 5px;
                }
    
                &:hover{
                    .en{opacity:1;
                        margin-left:0;
                        transition-delay:.2s;
                    }
                    .ch{
                        opacity:0;
                        transform:translateX(30px);
                        transition-delay:0s;
                    }
                    .subMenuList{
                        max-height:78px;
                        margin-top:18px;
                    }
                }
            }
        }

        .subMenuList{
            margin-top:0;
            overflow:hidden;
            -webkit-transition:all 1s;
            transition:all 1s;
            max-height:0;
            
            &>li{
                text-align:center;
                position:relative;
                min-width:180px;
                margin-bottom:10px;
    
                &:last-child{
                    margin-bottom:0;
                }
    
                &:hover a:before{
                    width:20px;
                }
    
                &:hover .sub-en{
                    opacity:1;
                    margin-left:0;
                    transition-delay:.2s;
                }
    
                &:hover .sub-ch{
                    opacity:0;
                    transform:translateX(30px);
                    transition-delay:0s;
                }
    
                a{
                    position:relative;
                }
    
                a:before{
                    content:'';
                    width:0;
                    height:1px;
                    background-color:#fff;
                    position:absolute;
                    top:50%;
                    right:calc(100% + 10px);
                    transition:all .5s;
                }
    
                .sub-en{
                    font-family: 'Playfair Display','Noto Serif TC', serif;
                    font-size:17px;
                    color:#fff;
                    position:absolute;
                    top:0;
                    left:50%;
                    transform:translateX(-50%);
                    margin-left:-10px;
                    opacity:0;
                    transition:all .6s;
                }
    
                .sub-ch{font-family:"Noto Serif TC",serif;
                    font-size:17px;
                    letter-spacing:3px;
                    color:#fff;
                    transition:all .6s .2s;
                    display:inline-block;
                }
            }
        }
        
        .close{
            font-family: 'Playfair Display','Noto Serif TC', serif;
            font-size:25px;
            letter-spacing:5px;
            color:#fff;
            cursor:pointer;
            position:absolute;
            top:40px;
            right:60px;
        }
    }
    
}


  
  