@import './setting';
@import './header';
@import './footer';

// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Noto Serif TC', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;

#header{
    // background-image: linear-gradient(rgba(0,0,0,.5) -20%, rgba(0,0,0,0) 100%);
    
    h1{
        .white{ display: none;}
        .black{ display: block;}
    }
    .nav{
        .menu{ color: #000;}
    }
}

#fullpage{
    // background: #0f294c;
    > li{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}
.aboutus_visual{
    padding-top: 70px;

    #myVideo{
        // height: 100vh;
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; 
        background-position: center center;
        background-size: contain;
        object-fit: cover; 
        z-index:3;
    }
}

.aboutus_organize{
    width: 100%;
    background: url(../img/aboutus_organize.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 120px 0;
    @media (max-width:1080px){
        padding:80px 0;
    }

    .container{
        // max-width: 1200px;
        margin: 0 auto;
        // padding: 100px 0;
        @media (max-width:1480px){
            width: 90%;
        }
        @media (max-width:1080px){
            overflow-x: scroll;
        }
    }

    .organize_group{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 120px;
        @media (max-width:1080px){
            width: 90%;
            margin: 0 auto 40px;
        }
    }
    .organize_branch{
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
        align-items: center;
        justify-content: center;
        @media (max-width:1080px){
            width: 90%;
            flex-direction: column;
        }

        .project{
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }

    }
}
.aboutus_teamsphoto{
    .photo{
        width: 100%;
        height: 100vh;
        background: url(../img/aboutus_teamsphoto.png) center center no-repeat;
        background-size: cover;
        @media (max-width:1080px){
            width: auto;
            // height: 0;
            background: url(../img/aboutus_teamsphoto_mob.png) center center no-repeat;
            background-size: auto 100%;
        }
    }
}
.aboutus_team{
    width: 100%;
    background: url(../img/aboutus_organize.jpg) center top repeat-x;
    background-size: cover;
    padding: 120px 0;
    @media (max-width:1080px){
        padding: 80px 0;
    }

    .container{
        max-width: 1000px;
        margin:0 auto;
        // padding: 100px 0;
        @media (max-width:1080px){
            width: 90%;
            overflow-x: scroll;
        }
    }

    h3{
        font-family: 'Noto Serif TC', serif;
        font-size: 26px;
        font-weight: 600;
        color: #00404b;
        text-align: center;
        letter-spacing: 2px;

        span{
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            line-height: 1.6;
            color: #a3b0b3;
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    ul{
        overflow: hidden;
        padding: 10px 0;
        display: flex;
        gap: 16px;
        @media (max-width:1080px){
            flex-direction: column;
        }

        li{
            width: calc((100% - 32px) / 3);
            position: relative;
            overflow: hidden;
            // box-shadow: 0 0 6px rgba(0,0,0,.25);
            @media (max-width:1080px){
                width: 100%;
            }

            h4{
                font-family: 'Noto Serif TC', serif;
                font-size: 26px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 3px;
                margin-top: 20px;
            }

            h5{
                font-family: 'Noto Serif TC', serif;
                font-size: 18px;
                line-height: 1.6;
                font-weight: 600;
                text-align: center;
                letter-spacing: 6px;
            }

            img{
                // margin-top: 14px;
            }
            
            .overlay {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(#0e294c, #081838);
                width: 100%;
                height: 100%;
            }
        }
    }
}

.aboutus_team_master{
    width: 100%;
    // padding: 240px 0;
    @media (max-width:960px){
        padding: 120px 0;
    }

    .container{
        max-width: 840px;
        margin:0 auto;
        overflow: hidden;
        @media (max-width:960px){
            width: 90%;
        }

    }

    .photo{
        width: calc(340/840*100%);
        float: right;
        @media (max-width:960px){
            width: 320px;
            float: unset;
            margin: 0 auto;
        }
    }

    .intro{
        width: calc(400/840*100%);
        float: left;
        @media (max-width:960px){
            width: 100%;
            float: left;
        }


        h4{
            font-family: 'Noto Serif TC', serif;
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 3px;
            margin-top: 20px;
            margin-top: 100px;
        }

        h5{
            font-family: 'Noto Serif TC', serif;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 600;
            letter-spacing: 3px;
            margin-top: 60px;
        }

        .signature{
            width: 132px;
            float: right;
            margin-top: 60px;
        }
    }
}
#section3{
    background: url(../img/aboutus_bg.png) center center repeat;
    background-size: contain;
}

.fp-watermark{
    display: none !important;
}


  
  
  