@import './setting';

.line-moredream{
    width: 100%;
    height: 100vh;
    background: url(../img/linephoto-moredream.png) center center no-repeat #10484d;
    background-size: contain;
}

.line-mingwei{
    width: 100%;
    height: 100vh;
    background: url(../img/linephoto-mingwei.png) center center no-repeat #181d62;
    background-size: contain;
}

  
  
  