@import './setting';
@import './header';
@import './footer';

// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Noto Serif TC', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
#header{
    background-image: none;
    
    h1{
        .white{ display: none;}
        .black{ display: block;}
    }
    .nav{
        .menu{ color: #000;}
    }
}

.news_title{
    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: 26px;
        line-height: 1.6;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 160px 0;

        span{
            // font-family: 'Noto Serif TC', serif;
            // font-size: 26px;
            // font-weight: 600;
            // color: #00404b;
            // text-align: center;
            // letter-spacing: 2px;
        }
    }
}

.news_filter{
    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    ul{
        overflow: hidden;

        li{
            width: 33.3333%;
            float: left;
            position: relative;

            &:after{
                content: "";
                width: 1px;
                height: 80%;
                position: absolute;
                right: 0;
                top: 10%;
                background: #c49e6b;

            }

            &:last-child:after{ display: none;}

            &:hover{
                cursor: pointer;
            }

            h4{
                font-family: 'Noto Serif TC', serif;
                font-size: 20px;
                font-weight: 500;
                color: #7d7e7e;
                text-align: center;
                letter-spacing: 6px;
        
                span{
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    line-height: 1.6;
                    font-weight: 400;
                    color: #000;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                }
            }     

            &.active{

                h4{
                    color: #c49e6b;

                    span{
                        color: #c49e6b;
                    }
                }
            }       
        }
    }
}

.news_content{
    margin-top: 160px;
    margin-bottom: 120px;

    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    ul.news_content_slick{
        padding-bottom: 100px;
        position: relative;

        li{

            .news_list{
                overflow: hidden;
                margin-bottom: 120px;

                a{
                    display: block;

                    .photo{
                        width: 450px;
                        height: 272px;
                        float: left;
                        overflow: hidden;
                        position: relative;
                        @media (max-width:1080px){
                            width: 100%;
                            height: 0;
                            padding-bottom: 60%;
                        }
        
                        &:before{
                            content: '+ more';
                            font-family: 'Playfair Display', serif;
                            font-size: 13px;
                            letter-spacing: 3px;
                            color: #ffffff;
                            text-transform: uppercase;
                            width: 100px;
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            transition: all .3s;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:after{
                            content: "";
                            width: 100%;
                            min-height: 100%;
                            height: 100%;
                            background: rgba(0,0,0,.5);
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            transition: all .3s;
                            opacity: 0;
                            visibility: hidden;
                        }
                        img{
                            transition: all .3s;
                            transform-origin: 50% 50%;
                        }
                    }
        
                    .info{
                        width: calc(100% - 500px);
                        float: right;
                        overflow: hidden;
                        letter-spacing: 3px;
                        @media (max-width:1080px){
                            width: 100%;
                            margin-top: 40px;
                        }
        
                        .date{
                            width: 200px;
                            color: #7d7e7e;
                            font-family: 'Noto Serif TC', serif;
                            font-size: 12px;
                            font-weight: 500;
                            float: left;
                        }
        
                        .media{
                            width: calc(100% - 200px);
                            float: right;
                            color: #7d7e7e;
                            font-family: 'Noto Serif TC', serif;
                            font-size: 12px;
                            text-align: right;
                        }
        
                        h4{
                            width: 100%;
                            float: left;
                            font-family: 'Noto Serif TC', serif;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2;
                            margin: 30px 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            // white-space: nowrap;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
        
                        p{
                            width: 100%;
                            float: left;
                            font-family: 'Noto Sans TC', sans-serif;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 1.8;
                            text-align: justify;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            // white-space: nowrap;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            @media (max-width:1080px){
                                display: none;
                            }
                        }
        
                        .more{
                            width: 100%;
                            float: left;
                            font-family: 'Playfair Display', serif;
                            font-size: 12px;
                            margin-top: 40px;
                            color: #7d7e7e;
                            text-transform: uppercase;
                            @media (max-width:1080px){
                                margin-top: 0px;
                            }
        
                            i{
                                font-size: 12px;
                                vertical-align: top;
                                margin-right: 8px;
                                color: #7d7e7e;
                            }
                        }
                    }
            
                    &:hover{
                        cursor: pointer;
        
                        .photo{
                            &:before{
                                opacity: 1;
                                visibility:visible;
                            }
                            &:after{
                                opacity: 1;
                                visibility:visible;
                            }
                            // img{
                            //     transform: scale(1.2);
                            // }
                        }
                    }
                }
            }
        }

        .slick-prev, .slick-next{
            width: 61px;
            height: 37px;
            top: auto;
            bottom: 0;
            left: auto;
            // background: #000;
        }
        .slick-prev{
            right: 80px;
            background: url(../img/news_slick-prev.svg) center top no-repeat;
            background-size: contain;

            &:before{
                content:"";
                opacity: 1;
            }

        }
        .slick-next{
            right: 0;
            background: url(../img/news_slick-next.svg) center top no-repeat;
            background-size: contain;

            &:before{
                content:"";
                opacity: 1
            }
        }
        .slick-disabled{
            opacity: .3;
        }

        ul.slick-dots{
            width: 140px;
            bottom: auto;
            top: auto;
            bottom: 20px;
            left: 0;
            text-align: left;
            z-index: 10;

            li{
                width: 100px;
                height: auto;
                display: block;
                margin-bottom: 0;
                display: none;

                a{
                    font-family: 'Noto Serif TC', serif;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 4px;
                    line-height: 1.4;
                }

                &.slick-active{
                    display: block;

                    a{
                        color: #c49e6b;
                    }
                }
            }

            &:after{
                content: '\e5cf';
                font-family: 'Material Icons';
                font-size: 20px;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                z-index: 99;
                right: 0;
                top: 4px;
                outline: 1px solid red;

                i{ display: block;}

                &:hover{
                    cursor: pointer;
                }
            }

        }
    }
}

.newspage_title{
    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: 26px;
        line-height: 1.6;
        display: block;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 160px 0 80px;

        span{
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            display: block;
            // text-align: center;
            letter-spacing: 2px;
        }
    }
}

.newspage_content{
    margin-top: 80px;
    margin-bottom: 120px;

    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    .photo{
        margin: 20px 0;

        span{
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.8;
            color: #7d7e7e;
            letter-spacing: 3px;
            margin: 20px 0;
        }
    }

    .video{
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 20px 0;

        iframe{
            width: 100%;
            height: 560px;
        }
    }

    .date{
        color: #7d7e7e;
        font-family: 'Noto Serif TC', serif;
        font-size: 12px;
        line-height: 2;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .media{
        color: #7d7e7e;
        font-family: 'Noto Serif TC', serif;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 2px;
    }

    h4{
        font-family: 'Noto Serif TC', serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        margin: 30px 0;
        letter-spacing: 4px;
    }

    h6{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        margin: 80px 0 30px;
        letter-spacing: 4px;
    }

    p{
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
        text-align: justify;
        letter-spacing: 3px;
    }

    .source{
        margin: 60px 0 100px;
        a{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 3px;
        }
    }

    .backnews{
        width: 60px;
        a{}
    }


    ul.news_content_slick{
        padding-bottom: 100px;
        position: relative;

        li{
            overflow: hidden;
            margin-bottom: 120px;

            .info{
                width: calc(500/1000*100%);
                float: right;
                overflow: hidden;
                letter-spacing: 3px;

                a{
                    width: 100%;
                    float: left;
                    font-family: 'Playfair Display', serif;
                    font-size: 12px;
                    margin-top: 60px;
                    color: #7d7e7e;
                    text-transform: uppercase;

                    i{
                        font-size: 12px;
                        vertical-align: top;
                        margin-right: 8px;
                        color: #7d7e7e;
                    }
                }
            }

            &:hover{
                cursor: pointer;

                .photo{
                    &:before{
                        opacity: 1;
                        visibility:visible;
                    }
                    &:after{
                        opacity: 1;
                        visibility:visible;
                    }
                }
            }
        }

        .slick-prev, .slick-next{
            width: 61px;
            height: 37px;
            top: auto;
            bottom: 0;
            left: auto;
            // background: #000;
        }
        .slick-prev{
            right: 80px;
            background: url(../img/news_slick-prev.svg) center top no-repeat;
            background-size: contain;

            &:before{
                content:"";
                opacity: 1;
            }

        }
        .slick-next{
            right: 0;
            background: url(../img/news_slick-next.svg) center top no-repeat;
            background-size: contain;

            &:before{
                content:"";
                opacity: 1
            }
        }

        ul.slick-dots{
            width: 140px;
            bottom: auto;
            top: 96%;
            left: 0;
            text-align: left;
            z-index: 10;

            li{
                width: 100px;
                height: auto;
                display: block;
                margin-bottom: 0;
                display: none;

                a{
                    font-family: 'Noto Serif TC', serif;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 4px;
                    line-height: 1.4;
                }

                &.slick-active{
                    display: block;

                    a{
                        color: #c49e6b;
                    }
                }
            }

            &:after{
                content: '\e5cf';
                font-family: 'Material Icons';
                font-size: 20px;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                z-index: 99;
                right: 0;
                top: 4px;
                outline: 1px solid red;

                i{ display: block;}

                &:hover{
                    cursor: pointer;
                }
            }

        }
    }
}