@import './setting';
@import './header';
@import './footer';

// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Noto Serif TC', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
#header{
    background-image: none;
    
    h1{
        .white{ display: none;}
        .black{ display: block;}
    }
    .nav{
        .menu{ color: #000;}
    }
}

#header.inner_hd{
    background-image: none;
    
    h1{
        .white{ display: block;}
        .black{ display: none;}
    }
    .nav{
        .menu{ color: #fff;}
    }
}

.project_title{
    .container{
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    h3{
        // font-family: 'Noto Serif TC', serif;
        // font-size: 26px;
        // font-weight: 600;
        // color: #00404b;
        // text-align: center;
        // letter-spacing: 2px;
        margin: 160px 0;

        span{
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            line-height: 1.6;
            display: block;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
}

.project_list{
    .container{
        max-width: 1000px;
        margin: 0 auto;
    }

    ul{
        overflow: hidden;

        li{
            width: 33.3333%;
            float: left;
            position: relative;
            margin-bottom: 120px;
            @media (max-width:800px){
                width: 50%;
            }

            h4{
                font-family: 'Noto Serif TC', serif;
                font-size: 26px;
                line-height: 2;
                font-weight: 500;
                color: #000;
                text-align: center;
                letter-spacing: 4px;
                transition: all .3s;
            }   
        
            h5{
                font-size: 16px;
                font-weight: 200;
                color: #000;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: all .3s;
            }
        
            h6{
                font-family: 'Noto Serif TC', serif;
                font-size: 20px;
                font-weight: 600;
                color: #000;
                display: block;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: all .3s;
            }

            &:hover{
                cursor: pointer;

                h4, h5, h6{
                    color: #c49e6b;
                    letter-spacing: 10px;
                }
            }

            &.active{

                h4, h5, h6{
                    color: #c49e6b;
                    letter-spacing: 10px;
                }
            }       
        }
    }
}
.projectpage_photo{
    position: relative;

    .projectpage_popup{
        display: none;

        .mask{
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,.6);
            position: fixed;
            z-index: 2;

            &.active{
                backdrop-filter: blur(3px);
            }
        }

        ol.projectpage_content_detail{
            width: 100%;
            max-width: 1000px;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            top: 140px;
            z-index: 5;
            overflow: hidden;
            text-align: left;
            @media (max-width:1080px){
                width: 80%;
            }

            li{
                width: 100%;
                max-width: 600px;
                position: relative;
                margin-bottom: 120px;

                h4{
                    font-family: 'Noto Serif TC', serif;
                    font-size: 36px;
                    line-height: 1.4;
                    font-weight: 600;
                    color: #fff;
                    // text-align: center;
                    letter-spacing: 4px;
                    transition: all .3s;
                }   
            
                h5{
                    font-size: 20px;
                    line-height: 1.4;
                    font-weight: 200;
                    color: #fff;
                    // text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: all .3s;
                }
            
                h6{
                    font-family: 'Noto Serif TC', serif;
                    font-size: 20px;
                    line-height: 3;
                    font-weight: 600;
                    color: #fff;
                    display: block;
                    // text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: all .3s;
                }

                p{
                    font-size: 15px;
                    line-height: 1.6;
                    font-weight: 300;
                    color: #fff;
                    letter-spacing: 2px;
                    margin-top: 36px;
                    text-align: justify;
                } 

                ol.projectinfo{
                    margin-top: 60px;
                    overflow: hidden;
                    
                    li{
                        width: 50%;
                        float: left;
                        font-size: 14px;
                        font-family: 'Noto Serif TC', serif;
                        letter-spacing: 2px;
                        color: #fff;
                        margin-bottom: 20px;
                        @media (max-width:800px){
                            width: 100%;
                        }

                        span{
                            font-family: 'Noto Sans TC', sans-serif;
                            letter-spacing: 2px;
                            color: #fff;
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

    }

    ul#fullpage{
        background: #000;

        li{
            background-repeat: no-repeat;
            background-size: cover !important;
            background-attachment: fixed;

            &:nth-child(2).active{

                .projectpage_popup{
                    display: block;
            
                    .mask{
                        width: 100%;
                        height: 100vh;
                        background: rgba(0,0,0,.4);
                        position: fixed;
                        z-index: 2;
                        backdrop-filter: blur(3px);
                    }
            
                    ol.projectpage_content_detail{
                        width: 100%;
                        max-width: 1000px;
                        position: fixed;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 140px;
                        z-index: 5;
                        overflow: hidden;
                        text-align: left;
                        @media (max-width:1080px){
                            width: 80%;
                        }
            
                        li{
                            width: 100%;
                            max-width: 600px;
                            position: relative;
                            margin-bottom: 120px;
            
                            h4{
                                font-family: 'Noto Serif TC', serif;
                                font-size: 36px;
                                line-height: 1.4;
                                font-weight: 600;
                                color: #fff;
                                // text-align: center;
                                letter-spacing: 4px;
                                transition: all .3s;
                            }   
                        
                            h5{
                                font-size: 20px;
                                line-height: 1.4;
                                font-weight: 200;
                                color: #fff;
                                // text-align: center;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                transition: all .3s;
                            }
                        
                            h6{
                                font-family: 'Noto Serif TC', serif;
                                font-size: 20px;
                                line-height: 3;
                                font-weight: 600;
                                color: #fff;
                                display: block;
                                // text-align: center;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                transition: all .3s;
                            }
            
                            p{
                                font-size: 15px;
                                line-height: 1.6;
                                font-weight: 300;
                                color: #fff;
                                letter-spacing: 2px;
                                margin-top: 36px;
                                text-align: justify;
                            } 
            
                            ol.projectinfo{
                                margin-top: 60px;
                                overflow: hidden;
                                
                                li{
                                    width: 50%;
                                    float: left;
                                    font-size: 14px;
                                    font-family: 'Noto Serif TC', serif;
                                    letter-spacing: 2px;
                                    color: #fff;
                                    margin-bottom: 20px;
                                    @media (max-width:800px){
                                        width: 100%;
                                    }
            
                                    span{
                                        font-family: 'Noto Sans TC', sans-serif;
                                        letter-spacing: 2px;
                                        color: #fff;
                                        display: inline-block;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                    }
            
                }

            }
        }
    }
}

.projectpage_content{
    width: 90%;
    // max-width: 1000px;
    position: absolute;
    z-index: 99;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);

    .container{
        width: 100%;
        max-width: 1000px;
        height: calc(100vh - 200px);
        margin: 0 auto;
        // overflow: hidden;
        @media (max-width:1080px){
            width: 90%;
        }
    }

    .backproject{
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 12px;
        font-family: 'Noto Serif TC', serif;
        line-height: 2;
        letter-spacing: 2px;
        transition: all .3s;
        @media (max-width:1280px){
            left: 120px;
        }
        @media (max-width:640px){
            left: 40px;
        }
        
        a{
            color: #fff;
            text-align: left;
            display: block;
            padding-left: 100px;

            span{
                color: #fff;
                @media (max-width:640px){
                    display: none;
                }
            }

            img{
                width: 60px;
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translateY(-50%);
                transition: all .3s;

                @media (max-width:640px){
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: none;
                    margin-top: 10px;
                }
            }
        }

        &:hover{
            margin-left: -10px;
            
            img{
                left: -100px;
                @media (max-width:640px){
                    left: auto;
                }
            }
        }
    }

    .closedetail{
        position: absolute;
        right: 100px;
        bottom: 0;
        font-size: 12px;
        font-family: 'Noto Serif TC', serif;
        line-height: 2;
        letter-spacing: 2px;
        transition: all .3s;
        @media (max-width:1280px){
            right: 140px;
        }
        @media (max-width:640px){
            right: 80px;
        }
        
        a{
            color: #fff;
            text-align: right;
            display: block;
            padding-right: 50px;

            span{
                color: #fff;
                @media (max-width:640px){
                    display: none;
                }
            }

            img{
                width: 18px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-135deg);
                transform-origin: 50% 50%;
                transition: all .3s;

                @media (max-width:640px){
                    position: relative;
                    right: auto;
                    top: auto;
                    transform: rotate(-135deg);
                    margin: 10px auto 0;
                }
            }

            &:hover, &.active{
                img{
                    transform: translateY(-50%) rotate(0deg);
                    @media (max-width:640px){
                        transform: rotate(0deg);
                    }
                }
            }
        }

        &:hover{
            margin-right: -10px;
            transform: translateX(-20px);
            
            img{
                right: -10px;
                @media (max-width:640px){
                    right: auto;
                }
            }
        }
    }

    .slideContent{
        width: 60px;
        position: fixed;
        z-index: 10;
        position: absolute;
        right: 0%;
        bottom: 14px;
        text-align: right;
        @media (max-width:1280px){
            right: 20px;
        }

        .num{
            color: #fff;
            font-size: 22px;
            letter-spacing: 5px;
            font-family: 'Noto Serif TC', serif;

        }
    }
}

// fullpage fading
.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
	
	.fp-section {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .7s ease-in-out;
		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
		
		.fp-slidesContainer {
			width: 100%!important;
			transform: none!important;
			
			.fp-slide {				
				width: 100%!important;
				position: absolute;
				left: 0;
				top: 0;
				visibility: hidden;
				opacity: 0;
				z-index: 0;
                transition: all .7s ease-in-out;
                
				&.active {
					visibility: visible;
					opacity: 1;
					z-index: 1;
				}
			}
		}
    }
    
    .fp-watermark{
        // display: none;
    }
}
#fp-nav, .fp-slidesNav {

    ul{
    
        li, li:hover{
            display: block;
            width: 1px;
            height: 40px;
            margin: 0;
            position: relative;
    
            a{
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: pointer;
                text-decoration: none;
                
                span {
                    top: 0;
                    left: 0;
                    width: 1px;
                    height: 48px;
                    border: none;
                    background: #000;
                    border-radius: 0;
                    position: absolute;
                    z-index: 1;
                    margin-left: -2px;
                    transition: all .3s;
                }
    
                &.active{
    
                    span{
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 48px;
                        border: none;
                        background: #fff;
                        border-radius: 0;
                        position: absolute;
                        z-index: 1;
                        margin-left: -2px;
                    }
                }
            }
        }
    
        li:hover{
    
            a{
                
                span {
                    background: #fff;
                }
            }
        }
    }
}
#fp-nav{
    right: 50px !important;
    height: 80%;
    top: 20%;
    transform: none;

    ul{
        height: 100%;
        li{
            height: calc(100% / 6);
            a{
                span{
                    height: 100%;
                }
            }
        }
    }
}
#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li a.active span, 
.fp-slidesNav ul li:hover a.active span{ height: 100%;}

